/* big tablets/small notebooks (nesthub) */
/* 1024px - 1200px <=1200px */
@media only screen and (max-width: 1200px) {
    .width-wrapper{
        padding: 0 1.5rem;
    }

}

/* ipad mini */
/* 768px - 1023px <=1023px */
@media only screen and (max-width: 1023px) {
    html,body {
        font-size: 9px;
    }
}

/* phones (iphone SE) */
/* 375px - 767px <=767px */
@media only screen and (max-width: 767px) {

    .current-tasks, 
    .form-row{
        padding: 0 2rem;
    }

    .tasks-container{
        width: 100%;
    }

    .tasks-row{
        width: 100%;
    }

    h1{
        font-size: 4.8rem;
    }
    /*nav*/
    .nav-burger {
        display: flex;
        font-size: 5rem;
        color: white;

    }
    .width-wrapper {
        align-items: flex-start;
        flex-direction: column;
    }
    .main-nav {
        display: none;
        min-width: 100px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .mobile-adj {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

/* small phones najmniejsze urzadzenie mobilne */ 
/* 0px - 374px <=374px */
@media only screen and (max-width: 374px) {

}
